#pj_ea_membership_container {
  display: flex;

  flex-wrap: wrap;

  .pj-ea-member-container {
    min-width: 300px;

    .pj-ea-member-card {
      .pj-ea-member-card__header__name {
        h4 {
          margin: 0;
        }
      }
    }
  }
}
